<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Best Pizze & Cazzotti</title>
</head>
<body>
	<h1>Crea una nuova pizza!</h1>
	<form method="POST" action="/pizza/create" th:object="${pizza}">
		<label>Nome</label><br>
		<input type="text" name="name" th:field="*{name}">
		<br>
		<label>Descrizione</label><br>
		<textarea name="description" th:field="*{description}"></textarea>
		<br>
		<label>Prezzo</label><br>
		<input type="number" name="price" th:field="*{price}">
		<br>
		<button type="submit">Crea</button>
	</form>
</body>
</html>